<script>
  var timeout_m = <%= @scorecard.maxtime_m %>
  var timeout_s = <%= @scorecard.maxtime_s %>
  var timeout_ms = <%= @scorecard.maxtime_ms %>
  var timeout = (timeout_m * 60000) + (timeout_s * 1000) + (timeout_ms * 10);
</script>
<h1 id="h1"><%= @scorecard.event.title %> Scorecard</h1>
<div id="bdr"></div>
<div class="row">
	<div class="col-xs-3">
		<h4 id="h4bold"><%= @scorecard.event.title %></h4> 
	</div>
	<div class="col-xs-3">
		<h4 id="h4bold"><%= @scorecard.event.place %></h4> 
	</div>
	<div class="col-xs-3">
		<h4 id="h4bold"><%= @scorecard.event.date %></h4> 
	</div>  
	<div class="col-xs-3">
		<h4 id="h4boldright">Division: <%= @scorecard.event.division %></h4> 
	</div>
</div>

<% if @scorecard.hides_max == nil %>
	<% @scorecard.hides_max = 0 %>
<% end %>
<% if @scorecard.maxpoint == nil %>
	<% @scorecard.maxpoint = 0 %>
<% end %>
<% if @scorecard.total_faults == nil %>
	<% @scorecard.total_faults = 0 %>
<% end %>
<% if @scorecard.total_points == nil %>
	<% @scorecard.total_points = 0 %>
<% end %>

<%= form_for(@scorecard) do |f| %>   
  <% if @scorecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scorecard.errors.count, "error") %> prohibited this scorecard from being saved:</h2>
      <ul>
				<% @scorecard.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
      </ul>
    </div>
  <% end %> 
	
	<%= f.hidden_field :maxtime_ms %>
	<div id="bdr"></div>
	<div class="row">
	  <div class="col-xs-6">
			<h4 id="h4bold">Total <%= @scorecard.element %> Search Areas: <%= @scorecard.get_elmSearchAreas(@scorecard.id) %></h4>
		</div>
	  <div class="col-xs-6">
			<h4 id="h4boldright">Total <%= @scorecard.element %> Hides: <%= @scorecard.get_elmHides(@scorecard.id) %></h4>
		</div>		
	</div>
	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-4">
			<h4 class="flabelsc" id="h4bold">Element: <%= @scorecard.element %> <%= @scorecard.search_area %></h4> 
		</div>
		<div class="col-xs-4">
			<h4 class="fnumhighlight" id="h4bold"><%= f.label :hides_max, "Hides/Calls: "%> <%= f.number_field :hides_max, in: 0...20, step: 1 %></h4>
		</div>
		
		<% check_hide_count = @scorecard.get_check_hide_count(@scorecard.id) %>
		
		<div class="col-xs-4">
			<div class="actions">
				<p id="right"><%= f.submit "Tabulate Points", class: "button" %></p>
				<h4 id="h4bold"><span style="color:#bf3d5b"><%= check_hide_count %></span></h4>
			</div>
		</div>
	</div>
	
	<% @scorecard.get_max_point(@scorecard.id) %>
	
	<div class="row">
		<div class="col-xs-4">
			<h4 class="fnumhighlight" id="h4"><%= f.label :maxpoint, "Point Value: " %>
			<%= f.number_field :maxpoint %></h4>
		</div>
		<div class="col-xs-4">
			<h4 class="ftimehighlight" id="h4"><span style="font-weight:bold">Time Limit: </span><class="field" id="cd_minutes"><%= f.text_field :maxtime_m %></class>:<class="field" id="cd_seconds"><%= f.text_field :maxtime_s %></class></h4> 
		</div>
		<div class="col-xs-4">
			<div class="actions" id="nomargin">
				<p id="right"><%= f.submit "Save Points, Time Limit", class: "button" %></p>
			</div>
		</div>		
	</div>
	<div id="bdr"></div>
	<% @scorecard.event.entrants.each do |entrant| %>
		<% if @scorecard.entrant_scd_id == entrant.id %>
			<div class="row">
				<div class="col-xs-8">
					<h4 id="h4bold">Handler: <span style=font-size:20px; id="fontcolor"><%= entrant.first_name %> <%= entrant.last_name %></span></h4> 
				</div>
				<div class="col-xs-4">
					<h4 id="h4boldright">ID:  <strong id="fontcolor"><%= entrant.idnumber %></strong></h4> 
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<h4 id="h4bold">K9:  <span style=font-size:20px; id="fontcolor"><%= entrant.dog_name %></span></h4> 
				</div>
				<div class="col-xs-5">
					<h4 id="h4bold">Breed:  <strong id="fontcolor"><%= entrant.breed %></strong></h4> 
				</div>
				<div class="col-xs-3">
					<h4 id="h4boldright">K9ID:  <strong id="fontcolor":><%= entrant.dogidnumber %></strong></h4> 
				</div>
			</div>  
		<% end %>
	<% end %>
	<div class="row" id="stopwatch">
		<div class="col-xs-4" id="nomargin">
			<h1 id="h1sw"><span id="tilda">~</span><span id="whitetxt">Stopwatch<span id="tilda">~</span></span></h1>
		</div>
		<div class="col-xs-4" id="nomargin">
			<div class="timeread">
				<span id="sw_m">00</span>:
				<span id="sw_s">00</span>:
				<span id="sw_ms">00</span>
			</div>
		</div>
		<div class="col-xs-4" id="nomargin">
			<p><input type="button" value="Start" id="sw_start" />
			<input type="button" value="Stop" id="sw_pause" />
			<!--  <input type="button" value="Stop"  id="sw_stop" />  -->
			<input type="button" value="Reset" id="sw_reset" /></p>
			<p id="sw_status">Idle</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">  
			<h4 class="fnumhighlight"><%= f.label :hides_found, "Hides Found: " %><%= f.number_field( :hides_found, in: 0...20, step: 1 ) %></h4>
		</div>
		
		<% @scorecard.hides_missed = @scorecard.hides_max - @scorecard.hides_found %>
		
		<div class="col-xs-4"> 
			<h4 class="fnum"><%= f.label :hides_missed, "Hides Missed: " %><%= f.number_field( :hides_missed, in: 0...20, step: 1 ) %></p>
		</div>
		<div class="col-xs-4">
			<h4 class="fyn" id="right"><%= f.label :finish_call, "Finish call: " %><span style="border:5px solid #bf3d5b"><%= f.select( :finish_call, ["yes", "no"], class: "form_input" ) %></span></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">    
			<h4 class="fyn"><%= f.label :timed_out, "Timed out: " %><span style="border:5px solid #bf3d5b"><%= f.select( :timed_out, ["no", "yes"], :id => "timed_out_field" ) %></span></h4>
		</div>
		<div class="col-xs-4">
			<h4 class="fnum"><%= f.label :false_alert_fringe, "False alert/fringe: " %><%= f.number_field( :false_alert_fringe, in: 0...10, step: 1 ) %></h4>
		</div>
		<div class="col-xs-4">
			<h4 class="fyn" id="right"><%= f.label :dismissed, "Dismissed: " %><%= f.select( :dismissed, ["no", "yes"] ) %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h4 class="fyn"><%= f.label :excused, "Excused: " %><%= f.select( :excused, ["no", "yes"] ) %></h4>
		</div>
		<div class="col-xs-4">
			<h4 class="fyn"><%= f.label :absent, "Absent: " %><%= f.select( :absent, ["no", "yes"] ) %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h4 class="fyn"><%= f.label :eliminated_during_search, "Eliminated during search: " %><%= f.select( :eliminated_during_search, ["no", "yes"] ) %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">	
			<div class="field">
				<h4><%= f.label :other_faults_descr, "Other faults (describe): " %></h4>
				<%= f.text_area :other_faults_descr, size: "80X60", placeholder: "Describe faults..." %>
			</div>
		</div>
	</div>			
	<div class="field">
		<h4 class="fnum"><%= f.label :other_faults_count, "Other faults count: " %><%= f.number_field( :other_faults_count, in: 0...10, step: 1 ) %></h4>
	</div>
	<div class="field">
		<h4><%= f.label :comments, "Comments: " %></h4>
		<%= f.text_area :comments, size: "80X60", placeholder: "Enter comments..." %>
	</div>
	<div id="bdr"></div>
	
	<% @scorecard.get_fault_total(@scorecard.id) %>
	<% @scorecard.get_time(@scorecard.id) %>
	
	<div class="row">
		<div class="col-xs-4">			
			<h4 class="fnumhighlight" id="h4"><%= f.label :total_faults, "Total Faults: " %><%= f.number_field( :total_faults, in: 0...10, step: 1 ) %></h4>
		</div>
		<div class="col-xs-4">			
			<h4 class="ftimehighlight" id="h4"><%= f.text_field :time_elapsed_m, :id => "elapsed_time_m_field" %>:<%= f.text_field :time_elapsed_s, :id => "elapsed_time_s_field" %>:<%= f.text_field :time_elapsed_ms, :id => "elapsed_time_ms_field" %> min:sec:sec/100</h4>
		</div>
  	<% if (@scorecard.time_elapsed_m == @scorecard.maxtime_m) && (@scorecard.time_elapsed_s == @scorecard.maxtime_s) && (@scorecard.time_elapsed_ms == @scorecard.maxtime_ms) %>
			<% @scorecard.timed_out = "yes" %>
		<% else %>
			<% @scorecard.timed_out = "no" %>
		<% end %>
		
		<% @scorecard.get_points(@scorecard.id) %>
		
		<div class="col-xs-4">			
			<h4 class="fnumhighlight" id="h4right"><%= f.label :total_points, "Total points: " %><%= f.number_field :total_points %></h4>
		</div>
	</div>
	<div class="row" id="paddingbottom">
		<div class="col-xs-4">
			<h4 id="h4"><%= f.label :pronounced, "Pronounced: ", class: "fyn"  %><span style="border:4px solid #bf3d5b"><%= f.select :pronounced, ["no", "yes"], class: "fyn"  %></span></h4>
		</div>		
		<div class="col-xs-2">
			<%= f.submit "Tabulate Score", class: "button"%>
		</div>
		<div class="actions" id="nomargin">
			<div class="col-xs-4" id="right">
				<h4 id="h4"><%= f.label :judge_signature, "Judge Signature: ", class: "fyn" %><span style="border:5px solid #bf3d5b"><%= f.select :judge_signature, ["no", "yes"], class: "fyn" %></span></h4> 
			</div>
			<div class="col-xs-2">
				<span id="right"><%= f.submit "Final Submit", class: "button"%></span>
			</div>			
		</div>
	</div>
<% end %>