<div class="nav" id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4" id="left">		
				<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Update User Info</span><span id="tilda">~</span></h1>
			</div>
			<div class="col-xs-4" id="center">
				<p id="notice"><%= notice %></p>
			</div>
			<div class="col-xs-4" id="right">			
				<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="padbottom">

	<%= render "form" %>
	
</div>
<div class="nav">
	<div class="container-fluid" id="posfix">
		<footer>
			<ul id="nopad">
				<li><p class="linktopgreen"><%= link_to "Back to Events", events_path %> | <%= link_to "Back to Users", users_path %> | <%= link_to "Show", @user %></p></li>