<div class="nav" id="header">
	<div class="container-fluid">
		<div class="row">				
			<div class="col-xs-4" id="left">		
				<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Event</span><span id="tilda">~</span></h1>
			</div>
			<div class="col-xs-4" id="center">
					<p id="notice"><%= notice %></p>
			</div>					
			<div class="col-xs-4" id="right">				
				<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="white">
	<div class="row">
	  <div class="col-xs-6">
			<h1 id="h1"><%= @event.title %>, <%= @event.place %></h2>
		</div>
		  <div class="col-xs-6">
			<h2 id="h2right">Date: <%= @event.date %></h2>
		</div>
	</div>
  <div id="bdr"></div>
  <div class="row">
    <div class="col-xs-4">		
			<h4 id="h4bold">Division:  <%= @event.division %></h4>
		</div>
    <div class="col-xs-4">		
			<h4 id="h4bold">Host:  <%= @event.host %></h4>
		</div>		
    <div class="col-xs-4">
			<% if @event.status=="active" %>
				<h4 id="h4boldright">Status: <span style="color:#72a54d"><%= @event.status %></span></h4>
			<% else %>
				<h4 id="h4boldright">Status: <span style="color:#bf3d5b"><%= @event.status %></span></h4>
			<% end %>
		</div>
	</div>
  <div id="bdr"></div>
  <div class="row">
    <div class="col-xs-1">
			<ul>
				<li id="bold">Element</li>
				<% if @event.int_search_areas > 0 %>
					<li>Interior</li>
				<% end %>
				<% if @event.ext_search_areas > 0 %>
					<li>Exterior</li>
				<% end %>
				<% if @event.cont_search_areas > 0 %>	
					<li>Container</li>
				<% end %>
				<% if @event.veh_search_areas > 0 %>
					<li>Vehicle</li>
				<% end %>
				<% if @event.elite_search_areas > 0 %>
					<li>Elite</li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-2">
			<ul>
				<li id="centerbold">Search Areas</li>
				<% if @event.int_search_areas > 0 %>
					<li id="center"><%= @event.int_search_areas %></li>
				<% end %>
				<% if @event.ext_search_areas > 0 %>
					<li id="center"><%= @event.ext_search_areas %></li>
				<% end %>
				<% if @event.cont_search_areas > 0 %>	
					<li id="center"><%= @event.cont_search_areas %></li>
				<% end %>
				<% if @event.veh_search_areas > 0 %>
					<li id="center"><%= @event.veh_search_areas %></li>
				<% end %>
				<% if @event.elite_search_areas > 0 %>
					<li id="center"><%= @event.elite_search_areas %></li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-2">
			<ul>
				<li id="centerbold">Hides</li>
				<% if @event.int_search_areas > 0 %>
					<li id="center"><%= @event.int_hides %></li>
				<% end %>
				<% if @event.ext_search_areas > 0 %>
					<li id="center"><%= @event.ext_hides %></li>
				<% end %>
				<% if @event.cont_search_areas > 0 %>	
					<li id="center"><%= @event.cont_hides %></li>
				<% end %>
				<% if @event.veh_search_areas > 0 %>
					<li id="center"><%= @event.veh_hides %></li>
				<% end %>
				<% if @event.elite_search_areas > 0 %>
					<li id="center"><%= @event.elite_hides %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-3">
			<ul>
				<% @event.users.each do |user| %>
					<li id="bold"><%= user.role %>: </li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
				<% @event.users.each do |user| %>
					<li><%= user.first_name %> <%= user.last_name %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="bdr_heavy_top"></div>
  <h2 id="h2namehighlight">Result Summary</h2>
	<div id="bdr_heavy"></div>
	<% completed_scorecards = @event.scorecard_completion(@event.id) %>	
	<% completed_tallies = @event.tally_completion(@event.id) %>	  
	<% @event.entrants.each do |entrant| %>
</div>
<% if completed_scorecards.include?(entrant.id) && completed_tallies.include?(entrant.id) %>
<div class="container-fluid" id="complete">
<% else %>
<div class="container-fluid" id="white">
<% end %>
	<div id="bdr_heavy_top"></div>
	<h2 id="h2namehighlight"><%= entrant.first_name %> <%= entrant.last_name %> and <%= entrant.dog_name %></h2>
	<div id="bdr_heavy"></div>
	<div class="row")>
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Points</p>
		</div>					
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Time</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Faults</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="centerwrap">Qualifying Score</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="centerwrap">Qualifying Scores</p>
		</div>
	</div>
	<div id="bdr"></div>
	<% @event.tallies.each do |tally| %>
		<% if tally.entrant_tly_id == entrant.id %>
	<div class="row">
		<div class="col-xs-2">
			<p class="link"><%= link_to "View Tally", tally_path(tally) %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= tally.total_points %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= tally.total_time_m %>:<%= tally.total_time_s %>:<%= tally.total_time_ms %></p>
		</div>
		<div class="col-xs-2">
			<p id="center" ><%= tally.total_faults %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= tally.qualifying_score %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= tally.qualifying_scores %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<p class="linktop"><%= link_to_unless(@event.status == "closed", "Run Tally", edit_tally_path(tally))%></p>
		</div>
	</div>
	<div id="bdr"></div>
			<% if tally.title == "Titled" %>
	<div class="row">			
		<div class="col-xs-2">						
			<h2 id="h2">Titled</h2>
		</div>
		<div class="col-xs-2" id="sniffing">						
			<%= image_tag("award_badge_ribbon_sticker_prize_quality_seal_star-512.png", class: "img_star") %>
		</div>
	</div>
			<% end %>
		<% end %>
	<% end %>
	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-8">
			<h4 id="h4boldtop"><span style="color:#00217f; font-size:22px;">View Scorecards</span></h4>
		</div>
		<div class="col-xs-4">
			<h3 id="h4boldtop"><span style="color:#00217f; font-size:22px;">Run Scorecards</span></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Points</p>
		</div>					
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Time</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Faults</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>		
	</div>
		<% @event.scorecards.order("element").order("search_area").each do |scorecard| %>
			<% if scorecard.entrant_scd_id == entrant.id %>
	<div class="row" >
		<div class="col-xs-2">
			<p class="link"><%= link_to_unless(@event.status == "closed", scorecard.element + " " + scorecard.search_area.to_s, scorecard_path(scorecard)) %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= scorecard.total_points %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= scorecard.time_elapsed_m %>:<%= scorecard.time_elapsed_s %>:<%= scorecard.time_elapsed_ms %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= scorecard.total_faults %></p>
		</div>
		<div class="col-xs-2">
				<p class="link"><%= link_to_unless(@event.status == "closed", scorecard.element + " " + scorecard.search_area.to_s, edit_scorecard_path(scorecard))%></p>
		</div>
	</div>
			<% end %>	
		<% end %>	
	<% end %>
</div>
<div class="container-fluid" id="padbottom">	
	<div id="bdr_heavy_top"></div>
	<h2 id="h2namehighlight">Placing</h2>
	<div id="bdr_heavy"></div>
	<div class="row" >
		<div class="col-xs-2">				
			<p class="evshowb">Place</p>
		</div>
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Title</p>
		</div>		
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Points</p>
		</div>		
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Time</p>
		</div>				
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Faults</p>
		</div>				
		<div class="col-xs-4">				
			<p class="evshowb">Team</p>
		</div>				
	</div>	
	<% @tally = nil %>
	<% @entrant = nil %>
	<% placing = @event.place_order(@event.id) %>
	<% count = 0 %>
	<% placing.each do |place| %>
		<% @event.tallies.each do |tally| %>
			<% if tally.id == placing[count] %>
				<% @tally = tally %>
				<% break %>
			<% end %>
		<% end %>
		<% @event.entrants.each do |entrant| %>
			<% if entrant.id == @tally.entrant_tly_id %>
				<% @entrant = entrant %>
				<% break %>
			<% end %>
		<% end %>		
	<div class="row">
		<div class="col-xs-2">
			<% if count == 0 %>
				<p>First Place</p>
			<% elsif count == 1 %>
				<p>Second Place</p>
			<% elsif count == 2 %>
				<p>Third Place</p>
			<% else %>
			  <p> </p>
			<% end %>
		</div>
		<div class="col-xs-1">
			<% if @tally.title == "Titled" %>
				<p id="center"><%= @tally.title %></p>
			<% end %>
		</div>		
		<div class="col-xs-1">
			<p id="center"><%= @tally.total_points %></p>
		</div>
		<div class="col-xs-2">
			<p id="center"><%= @tally.total_time_m %>:<%= @tally.total_time_s %>:<%= @tally.total_time_ms %></p>
		</div> 
		<div class="col-xs-1">
			<p id="center"><%= @tally.total_faults %></p>
		</div>
		<div class = "col-xs-4">
			<p><%= @entrant.first_name %> <%= @entrant.last_name %> and <%= @entrant.dog_name %></p>
		</div>
	</div>
		<% count += 1 %>
	<% end %>		
</div>
<div class="nav">
	<div class="container-fluid" id="posfix">
		<footer>
			<ul id="nopad">
				<li><p class="linktopgreen"><%= link_to "Edit Event", edit_event_path(@event) %> | <%= link_to "Back to Events", events_path %></p></li>