<%= form_for(@entrant) do |f| %>
  <% if @entrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrant.errors.count, "error") %> prohibited this entrant from being saved:</h2>
      <ul>
				<% @entrant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
				<% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-2">
			<h4 id="h4bold"><%= f.label :first_name, "First Name" %></h4>
		</div>
    <div class="col-xs-2">
			<h4 id="h4bold"><%= f.label :last_name, "Last Name" %></h4>
		</div>
    <div class="col-xs-2">
			<h4 id="h4boldcenter"><%= f.label :idnumber, "ID#" %></h4>
		</div>
    <div class="col-xs-2">
			<h4 id="h4bold"><%= f.label :dog_name, "K9 Name" %></h4>
		</div>
    <div class="col-xs-2">
			<h4 id="h4boldcenter"><%= f.label :dogidnumber, "K9 ID#" %></h4>
		</div>
    <div class="col-xs-2">
			<h4 id="h4bold"><%= f.label :breed %></h4>
		</div>
  </div>
  <div class="row">
    <div class="col-xs-2">
			<p class="ftext"><%= f.text_field :first_name %></p>
		</div>
    <div class="col-xs-2">
			<p class="ftext"><%= f.text_field :last_name %></p>
		</div>
    <div class="col-xs-2">
			<p class="ftextsm" id="center"><%= f.text_field :idnumber %></p>
		</div>
    <div class="col-xs-2">
			<p class="ftext"><%= f.text_field :dog_name %></p>
		</div>
    <div class="col-xs-2">
			<p class="ftextsm" id="center"><%= f.text_field :dogidnumber %></p>
		</div>
    <div class="col-xs-2">
			<p class="ftext"><%= f.text_field :breed %></p>
		</div>
  </div>  
  <div class="actions">
    <p><%= f.submit "Update", class: "button" %></p>
  </div>
<% end %>
